body {
  background-attachment: fixed !important;
  background-image: url("img/india-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.links {
  color: blue;
}

.links a:hover {
  cursor: pointer;
  color: skyblue;
}

h3, ul li {
  text-shadow: 0 0 2px rgba(234, 57, 190, 1) !important;
}

#videos {
  margin-top:5vh;
}

#form {
  margin-top:5vh;
}
